.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-8);

  padding: var(--space-5);
}

.appTitle {
  font-size: var(--font-size-md);
  margin-bottom: var(--space-8);
}

.loginTitle {
  font-size: var(--font-size-lg);
  font-weight: 500;
  margin-bottom: var(--space-3);
}

.description {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.buttonWrapper {
  width: 100%;
  margin-top: var(--space-5);
}
